# Editor / OS junk
*.swp
*.swo
*.tmp
*~
.DS_Store


# Logs
*.log
logs/

# Enviroment files
.env
*.env
.infra-monitor.env

# Terraform
.terraform/
terraform.tfstate*
*.tfstate
*.tfstate.*
terraform.tfvars


# SSH keys
*.pem
ssh/*.pem
